body{
    background:#fff;
    font: 10px / 1 helvetica,arial,sans-serif;
    color:#222;
    margin:0;
    padding:0;
    position:relative;
}

h1{
    font: 2rem / 1.5;
    position:fixed;
    top:0;
    margin:0;
    background:#909;
    width:100%;
    z-index:9998;
    padding: .5rem 1rem;
    color:#fff;
    line-height:1.2;
    border-bottom:1px solid #606
}
h2{
    font-size: 1.5rem;
    margin:0
}
p{
    font-size:1.1rem;
}
#filter{
    width: 640px;
    float:left;
    padding-left:1rem;
    line-height:1.5;
    margin-top:3rem;
}

img{display:block; margin:0 0 1rem;}

form{
    position:absolute;
    right:0;
    margin: 3rem;
    width:30rem;
    z-index:9997;
}
.prop{
    line-height: 1;
    margin:.5rem 0;
    background:rgba(240,240,240,.3);
    border:1px solid #eee;
    padding:.5rem 0 .6rem 1rem;
    width:100%;
    min-height:1rem;
    max-height:1rem;
    height:auto;
    -webkit-transition: min-height 500ms linear, max-height 500ms linear;
       -moz-transition: min-height 500ms linear, max-height 500ms linear;
         -o-transition: min-height 500ms linear, max-height 500ms linear;
        -ms-transition: min-height 500ms linear, max-height 500ms linear;
            transition: min-height 500ms linear, max-height 500ms linear;
}

.prop:hover{
    background:rgba(255,255,204,.5);
    border-color:rgba(255,204,0,.2);
    min-height:3rem;
    max-height:3rem;
    height:auto;
    overflow:hidden;
    -webkit-transition: min-height 500ms linear, max-height 500ms linear;
       -moz-transition: min-height 500ms linear, max-height 500ms linear;
         -o-transition: min-height 500ms linear, max-height 500ms linear;
        -ms-transition: min-height 500ms linear, max-height 500ms linear;
            transition: min-height 500ms linear, max-height 500ms linear;
}
#drops{
    min-height:4rem;
    max-height:4rem;
    background:rgba(240,240,240,.3);
    border:1px solid #eee;
    padding:.5rem 0;
    overflow:hidden;
    width:31rem;
}
#drops div{
    font-size:.9rem;
    margin:1rem 0;
}
#drops:hover{
    min-height:6rem;
    max-height:6rem;
    -webkit-transition: min-height 500ms linear, max-height 500ms linear;
       -moz-transition: min-height 500ms linear, max-height 500ms linear;
         -o-transition: min-height 500ms linear, max-height 500ms linear;
        -ms-transition: min-height 500ms linear, max-height 500ms linear;
            transition: min-height 500ms linear, max-height 500ms linear;
}
#drops p{margin:0;font-size:1rem}

.prop .about{
    display:none;
    font-size:.85rem;
    padding-top:.7rem;
}

.prop:hover .about{
    display:block;
}

label,legend{
    font-family:monospace;
    width:10rem;
    font-size:1.2rem;
}
fieldset{
    border:0;
}
.lbl-range,input[type=range]{
    display:inline-block;
    vertical-align:middle
}
input[type=range]{
    width:12rem;
    vertical-align:bottom;
}
input[type=number],input[type=color]{
    font-family:inherit;
    font-size:1.2rem;
    width:4rem;
    text-align:right;
    margin-left:.4rem;
}

.value{
    display:inline-block;
    text-align:right;
    font-family:monospace;
}
button{
    margin:0 1rem 0 0;
    display:inline-block;
    text-align: center;
    background:#33f;
    border:3px outset #33f;
    color:#fff;
    font-size:inherit;
    font-family: inherit;
    line-height:1.5
}
button:hover{background:#9f0; border-color:#9f0;color:#000}

#overlay{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,.8);
    width:100%;
    height:100%;
    z-index:9999;
}

.hide{
    display:none;
}